* {
    padding: 0;
    margin: 0;
}

// Global color varible

$allheader: #444964;
$allparagraph:#666666;
$buttongreen:#5ED16F;




body{
    font-family: 'Roboto', sans-serif;
    p {
        color: $allparagraph;
    }
    h1 {
        color: $allheader;
    }
}
// top nav and menu section
.nav {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;

    .logo {

        img {
            height: 40px;
            width: 145px;
            cursor: pointer;
        }
    }

    .menu {

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 5px;
                padding: 8px 20px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #717171;
                    font-weight: 500;
                    margin-top: 2px;
                }

                &:hover {
                    background-color: #F1F1F1;
                    border-radius: 5px;
                }
            }

            button {
                background-color: #fff;
                color: #717171;
                border: solid 2px #000;
                padding: 5px 30px;
                border-radius: 5px;
                transition: 300ms;
                font-weight: 500;

                &:hover {
                    color: #fff;
                    border: solid 2px #000;
                    background-color: #5ED16F;
                    transition: 300ms;

                }
            }
        }
    }
}

// top nav and menu section end


// hero-section section start 
.hero-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 70px;
    .left {
        img {
            max-width: 100%;
            height: auto;
        }

    }

    .right {
        position: relative;
        .content {
            position: absolute;
            left: 80px;
            top: 50px;
            h1 {
                font-size: 52px;
                font-weight: 500;
            }

            p {
                margin-top: 25px;
                font-size: 19px;
                letter-spacing: 1px;
            }
            input{
                margin-top: 20px;
                height: 50px;
                width: 210px;
                padding: 5px 10px;
                border-radius: 8px;
                outline: none;
                box-shadow: none;
                border-color: #ced4da;
                box-sizing: border-box;
                border: 1px solid $allparagraph;
                
            }
            button{
                padding: 13px 30px ;
                border-radius: 8px;
                background-color: $buttongreen;
                box-shadow: none;
                color: #fff;
                font-weight: 600;
                border: 2px solid transparent;
                letter-spacing: .25px;
                text-transform: uppercase;
                transition: 400ms;
                &:hover{
                    background-color: #000;
                    transition: 400ms;
                }
            }
        }
    }

}

// hero-section section   end


// service section start
.service{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        width: 50%;
        p{
            text-align: center;
        }
    }

    .all-post{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        
        .single-post{
            width: 50%;
            padding: 55px;
            position: relative;
            img{
                width: 70px;
                height: 70px;
                position: absolute;
                left: 10px;
            }
            h1{
                font-size: 27px;
                font-weight: 600;
                margin-left: 45px;
            }
            p{
                font-size: 17px;
                margin-left: 45px;
            }
        }
    }
}

// <!-- service section start end -->

.mobile-post-bg{
    background-color: #F8F9FB;
    .mobile-post{
        display: flex;
        margin-top: 30px;
        padding: 50px 0px;
    }
    .left-side{
        width: 40%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .right-side{
        width: 60%;

        .article{
            padding: 100px 60px 100px 150px;
            span{
                color: $buttongreen;
                font-weight: 700;
                font-size: 15px;
                
            }
            h1{
                font-size: 42px;
                font-weight: 500;
                margin-top: 25px;
            }
            p{
                margin-top: 25px;
                position: relative;
                &::after{
                    content: '';
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $allparagraph;
                    position: absolute;
                    left: -20px;
                    top: 5px;
                }
            }
        }
    }
}